<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing r report</h1>

  <%= render "form", r_report: @r_report %>

  <%= link_to "Show this r report", @r_report, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to r reports", r_reports_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
